<div class='ui form segment'>
  <% __this.CascadeDesign('reg/input', {name: "nickname"}) %>
  <% return %>
  <% __this.CascadeDesign('reg/input', {name: "country"}) %>
  <% __this.CascadeDesign('reg/input', {name: "city"}) %>
</div>