<div class='ui form segment'>
<%
__this.CascadeDesign('reg/input', {input: "dropdown", name: "country"});
return;
__this.CascadeDesign('reg/input', {name: "nickname"});
__this.CascadeDesign('reg/input', {name: "city"});
%>
</div>