<div class='field'>
  <label><%@ __this.name %></label>
  <input name='<%@ __this.name %>'>
</div>

<%
debugger;
__this.Defer(function()
{
  __this.first().find('input').keydown(function(event)
  {
    __this.first().trigger('check');
  })
})
%>