<div class='field'>
  <label><%@ __this.data.name %></label>

<%
__this.chain(function()
{
  if (__this.data.nocheck)
    return;

  var that = this;

  that.first().on('check', function()
  {
    var val = $(this).val();
    phoxy.AJAX(['integration/check/' + __this.data.name, val], function(r)
    {
      var method = (!r.error && r.data.check) ? "removeClass" : "addClass";
      __this.first()[method]("error");
    })
  })
})
%>
</div>