<div class='field'>
  <label><%@ __this.data.name %></label>

<%
var active = null;
__this.chain(function()
{
  if (__this.data.nocheck)
    return;

  var that = this;

  var checked;

  function Send()
  {
    var val = that.first().val();

    if (val.length < 3)
      return;
    if (val == checked)
      return;
    checked = val;

    phoxy.AJAX(['integration/check/' + __this.data.name, val], function(r)
    {
      var method = (!r.error && r.data.check) ? "removeClass" : "addClass";
      __this.first()[method]("error");
    })
  }

  that.first().on('check', function()
  {
    clearTimeout(active)
    active = setTimeout(Send, 500);
  })
})
%>
</div>